# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.cmf
*.cmf
dist/default/production/KompassDevice.production.lst
*.map
dist/default/production/KompassDevice.production.rlf
*.sym
*.mk
*.p1

*.p1
build/default/production/eusart.pre
*.d
*.pre
*.hxl
build/default/production/eusart.p1.d
*.d
*.lst
dist/default/debug/KompassDevice.debug.mum

*.p1
